<div id="container" class="inverted" data-aos="fade-down-right">
    <div id="preview">
        <img src="/img/medisync-main.png" alt="MediSync Screenshot">
    </div>

    <div id="information">
        <div id="header">
            <div class="type">Fullstack Web App</div>
            <div class="name">MediSync</div>
        </div>

        <div id="description">
            MediSync to system zarządzania danymi medycznymi stworzony z myślą o placówkach zdrowia i zespołach operacyjnych. 
            Umożliwia kompleksowe zarządzanie pacjentami, użytkownikami i ich rolami, salami operacyjnymi, zasobami, 
            oceną przedoperacyjną oraz operacjami medycznymi. 
            Backend oparty na Spring Boot udostępnia bezpieczne REST API z obsługą JWT oraz strukturą opartą na DTO. 
            Frontend, zbudowany w Angularze, zapewnia dynamiczny i intuicyjny interfejs użytkownika.
        </div>

        <div id="footer">
            <div id="stack-section">
                <div class="title">STACK</div>
                <div id="stack-container">
                    <!-- Backend -->
                    <div class="stack" title="Java">
                        <img src="/stackIcon/java-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Spring Boot">
                        <img src="https://spring.io/img/spring.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="PostgreSQL">
                        <img src="/stackIcon/postgresql-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Maven">
                        <img src="/stackIcon/maven-svgrepo-com.svg">
                    </div>
                    <!-- Frontend -->
                    <div class="stack" style="scale: 0.9;" title="Angular">
                        <img src="/stackIcon/angular-icon-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Bootstrap">
                        <img src="/stackIcon/bootstrap-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="RxJS">
                        <img src="/stackIcon/rxjs-seeklogo.svg">
                    </div>
                </div>
            </div>

            <div id="button-container">
                <div class="button">GitHub
                    <ul>
                        <a href="https://github.com/Radson29/MediSync-backend" target="_blank">
                            <li>Backend</li>
                        </a>
                        <a href="https://github.com/Radson29/MediSync-frontend" target="_blank">
                            <li>Frontend</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
