<div id="container"  data-aos="fade-down-left">
    <div id="preview">
        <img src="/img/quizy-main.png">
    </div>
    <div id="information">
        <div id="header">
            <div class="type">Desktop application</div>
            <div class="name">QUIZY - Platforma Egzaminacyjna dla Szkół
            </div>
        </div>

        <div id="description">
            QUIZY to aplikacja desktopowa stworzona do przeprowadzania testów w szkołach, 
            która umożliwia nauczycielom i dyrektorom efektywne zarządzanie procesem 
            egzaminowania uczniów. Aplikacja oferuje system losowego przydzielania pytań, 
            dzięki czemu każdy uczeń otrzymuje unikalny zestaw pytań z określonej puli,
             co zwiększa bezpieczeństwo i uczciwość testów. System posiada trzy poziomy 
             dostępu: dla dyrektora (zarządzanie nauczycielami), nauczyciela 
             (tworzenie testów i zarządzanie uczniami) oraz ucznia (rozwiązywanie testów i 
             przeglądanie wyników).
             Nauczyciele mogą tworzyć testy jednokrotnego i wielokrotnego wyboru, ustawiać limity czasowe oraz generować raporty z wyników. Projekt wykorzystuje bazę danych do przechowywania wszystkich informacji, a całość jest dostępna jako aplikacja desktopowa, którą można łatwo zainstalować i skonfigurować według potrzeb szkoły.
        </div>
        <div id="footer">
            <div id="stack-section">
                <div class="title">STACK</div>
                <div id="stack-container">
                    <div class="stack" title="Java">
                        <img src="/stackIcon/java-svgrepo-com.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="Spring Boot">
                        <img src="https://spring.io/img/spring.svg">
                    </div>
                    <div class="stack" title="React">
                        <img src="/stackIcon/react-svgrepo-com.svg">
                    </div>
                    <div class="stack" title="Electron JS">
                        <img src="/stackIcon/electron-icon.svg">
                    </div>
                    <div class="stack" style="scale: 0.95;" title="JUnit">
                        <img src="/stackIcon/JUnit.svg">
                    </div>
                    <div class="stack" style="scale: 1.6;" title="MySQL">
                        <img src="/stackIcon/mysql-logo-svgrepo-com.svg">
                    </div>
                </div>
            </div>
            <div id="button-container">
                <a href="https://github.com/Radson29/Application-for-school-examination-tests/tree/main" target="_blank">
                    <div class="button">GitHub</div>
                </a>
                <a href="/assets/cv/Podrecznik_uzytkowania.pdf" download target="_blank">
                    <div class="button">Podręcznik użytkownika</div>
                </a>
            </div>
        </div>
    </div>
</div>